%h2 Details about Driver Vehicle

%ul#details
  %li
    Tire Pressure:
    = @vehicle_stats.tire_pressure
  %li
    Battery Level:
    = @vehicle_stats.battery_level
  %li
    Lidar Status:
    = @vehicle_stats.lidar_status