<% provide(:title, "About")%>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>About</h1>
    <p>
    	The TAMUber Safety interface is a web project created for the Texas A&M Transportation Institute’s TAMUber project. This project is aimed at providing transportation assistance to disabled and mobility-disadvantaged students at Texas A&M. The TAMUBer safety interface is geared towards ensuring the safety of passengers who wait for the carts. This interface will be accessible to the driver, who will use it for notifying the administrators, contact emergency services, etc.
    </p>
  </body>
</html>