<% provide(:title, "About")%>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>About</h1>
    <p>
    	TAMUber Safety is a web application satisfying the requirements given to the team by Professor Ritchie as a part of CSCE431 in the Spring semester of 2018. The application aims to provide an interface for the administration of the TAMUber project, allowing the administrator to view information about the currently operating carts. As such, we believe our application will serve as a functional utility for the viewing and inspection of TAMUber carts. 
    </p>
  </body>
</html>