<% provide(:title, "Checklist") %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<h1 class="ah">This is a Checklist for the Car</h1>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style type = "text/css">
    html, body {
        /*height: 100%;*/
        /*margin: 0;*/
        /*padding: 0;*/
        background-image: url(https://cnet4.cbsistatic.com/img/L0pm54fJ3KjS18Ge_IoDxSQZWlI=/1600x900/2018/01/12/9a4d6774-b833-402a-ad72-4d75eb45c5ae/gm-cruise-av-final.jpg);
        background-size: cover;
      }
</style>
<body>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ul  id="contain">
			<li class="al"><span><i class="fas fa-check" id = "tire-pressure"></i></span> Tire Pressure</li>
			<li class="al"><span><i class="fas fa-check" id = "cooling liquid"></i></span> Cooling liquid</li>
			<li class="al"><span><i class="fas fa-check" id = "engine light"></i></span> Engine Light</li>
			<li class="al"><span><i class="fas fa-check" id = "light"></i></span> Light</li>
		</ul>
    <%= link_to "Continue",current_user , class: "btn btn-primary", id: "dis"%>
  </div>
</div>
</body>

<script>
    var elements = 4;

    $("span").click(function(event){
    	$(this).parent().fadeOut(500, function(){
    		$(this).remove();
    	});
    	elements = elements-1;
    	if(elements === 0){
    	    var a = document.getElementById("dis");
    	    a.classList.remove("disable");
    	}
    	event.stopPropagation();
    });
    
</script>