<% provide(:title, "Checklist")%>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Checklist</h1>
    <p>
      This will be a checklist for the car. Currently being tested.
    </p>
  </body>
</html>