<!--<div class="center jumbotron">-->
<!--  <h4>Welcome to TamUber Driver Safety Interface</h4>-->
<!--  <input type='checkbox' id='form-switch'>-->

<!--<form id='login-form' action="" method='post'>-->
<!--  <input type="text" placeholder="Username" required>-->
<!--  <input type="password" placeholder="Password" required>-->
<!--  <button type='submit'>Login</button>-->
<!--  <label for='form-switch'><span>Register</span></label>-->
<!--</form>-->



<!--<form id='register-form' action="" method='post'>-->
<!--  <input type="text" placeholder="Username" required>-->
<!--  <input type="email" placeholder="Email" required>-->
<!--  <input type="password" placeholder="Password" required>-->
<!--  <input type="password" placeholder="Re Password" required>-->
<!--  <button type='submit'>Register</button>-->
<!--  <label for='form-switch'>Already Member ? Sign In Now.., signup_path</label>-->
<!--</form>-->

  <!--<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>-->
<!--</div>-->


<div class="center jumbotron">
  <h1>Welcome to TamUber</h1>

  <h2>
    Where dreams come true
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  
  <%= link_to "Sign in!", login_path, class: "btn btn-lg btn-primary" %>
  
</div>