<!--<%= javascript_include_tag "home" %>-->

<div class="center jumbotron">
  <h1>Welcome to TAMUber Driver Safety Interface</h1>

  <h2>
    Where dreams come true
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

