<% provide(:title, @user.firstname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.firstname %>
      </h1>
    </section>
  </aside>
</div>

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
     /*       */
     html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      h1
      {
          display: inline;
          color: black;
          font-weight: bold;
          text-align: left;
          font-size: 2.5em;   
      }
      table, td, tr, th {
        border: 1px solid black;
        text-align: left;
        vertical-align: center;
        padding: 5px;
      }
    </style>
  </head>
  <body>

    <h1> Weather Data for College Station </h1>
    
    <table id="weather_results" cellpadding="100"></table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    
    
    <script>
    // api key for darksky
    var apikey = "Put the KEY from Google Doc here"
    var lat = "30.6280"
    var long = "-96.3345"
    jQuery(document).ready(function(){
    console.log("Ready!");
    weatherFunction();  // when the page has loaded, run weatherFunction
    $('#weather_results').show();
  });
  function weatherFunction(){
    // Create a request variable and assign a new XMLHttpRequest object to it.
    var url1 = "https://api.darksky.net/forecast/"
// IMPORTANT! UNCOMMENT FOR API TO WORK
    var html = '';
    var html2 = '';
    // test data stub
    var data = {
      daily: {
          summary: "Rain tomorrow and Monday, with high temperatures falling to 50F"
        
      },
      currently:{
          temperature: 85,
          visibility: 10,
          windSpeed: 3.78,
          precipIntensity: 0.22,
          precipProbability: 0.45,
          humidity: 0.24
      }
    }
    // IF YOU WANT TO USE API, COMMENT THIS OUT; ELSE uncomment this out
    // *************************Test Stub*******************
    html2 += '<tr><th>Temperature(Farenheit)</th><td>' + data.currently.temperature + '</th></td>'
        + '<tr><th>Humidity</th><td>' + data.currently.humidity + '</td>'
        + '<tr><th>Probability of Rain(%)</th><td>' + data.currently.precipProbability * 100 + ' %' + '</td>'
        + '<tr><th>Intensity of Rain</th><td>' + data.currently.precipIntensity + '</td>'
        + '<tr><th>Visibility</th><td>' + data.currently.visibility + '</td>'
        + '<tr><th>WindSpeed</th><td>' + data.currently.windSpeed + '</td>'
        + '<tr><th>Summary</th><td>' + data.daily.summary +'</td></tr>';
    $('#weather_results').append(html2);
    // ******************************************************
    // IF YOU WANT TO USE API, UNCOMMENT THIS OUT; ELSE comment this out
    // *************************API*******************
    // $.ajax({
    //     type: "GET",
    //     url: url1+apikey+"/"+lat+","+long,
    //     contentType: "application/json",
    //     success: function(data)
    //     {
    //       console.log(data);
    //       html += '<tr><th>Temperature(Farenheit)</th><td>' + data.currently.temperature + '</th></td>'
    //           + '<tr><th>Humidity</th><td>' + data.currently.humidity + '</td>'
    //           + '<tr><th>Probability of Rain(%)</th><td>' + data.currently.precipProbability * 100 + ' %' + '</td>'
    //           + '<tr><th>Intensity of Rain</th><td>' + data.currently.precipIntensity + '</td>'
    //           + '<tr><th>Visibility</th><td>' + data.currently.visibility + '</td>'
    //           + '<tr><th>WindSpeed</th><td>' + data.currently.windSpeed + '</td>'
    //           + '<tr><th>Summary</th><td>' + data.daily.summary +'</td></tr>';
    //       $('#weather_results').append(html);
    //     }
    //   });
    // ******************************************************
  };
  
  
  
</script>


    <div class="container">
      <hr>
      <div class="row">
        <div class="col-md-12">
          <form id="contactform" role="form" action="#" method="POST">
            <div class="form-group">
              <h3>Emergency Call</h3>
            </div>
            <label>Your number</label>
             <div class="form-group">
                 <input class="form-control" type="text" name="userPhone" id="userPhone"
                        placeholder="(651) 555-7889">
             </div>
             <label>Emergency number</label>
             <div class="form-group">
                 <input class="form-control" type="text" name="salesPhone" id="salesPhone"
                        placeholder="(651) 555-7889">
             </div>
            <button type="Call Emergency!!" class="btn btn-default">Contact Emergency</button>
          </form>

        </div>
      </div>
	  </div><!-- /page -->
	  
	  
</body>
</html>