<% provide(:title, "About")%>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>About</h1>
    <p>
      We do more uber stuff here.. Actually we don't really know what we are doing NGL.
    </p>
  </body>
</html>